body {
    color: white;
    background: #0e4c4d;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(0 241 255);
    padding: 20px;
    font-size: 40px;
    color: rgb(0 241 255);
}

.chamada {
    background: rgb(35 165 160);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    width: 50vw;
    font-family: "inter", sans-serif;
    font-size:clamp(1rem, 2vw, 1.4rem);
    color: white;
    margin-top: 30px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: rgb(0 241 255);
}